 *html, body {height: 50%;}*
 body {
      color: rgb(0, 0, 0);
      background-color: rgb(0, 0, 0);
      padding: 2rem;
      text-align: center;
    }

    a, body {color: #000;}

    .click {
      position: absolute;
      border: 1px ; color: #000;

      -webkit-border-radius: 3px;
              border-radius: 3px;
    }
 
p {
  font-size: 70px;
  color: white;

}
h1 {
  font-size: 19px;
  color: white;
}